.fcontainer div{
    font-weight: bold;
}

body{
    margin: 0px;
    color: #d2f885;
    font-size: 2vmin;
}
.fcontainer{
    background: rgba(0, 0, 0, 0.25);
    border: 3px rgba(255, 0, 0, 0.2) solid;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
.navbar{
    position: static;
    border: none;
    top: 0%;
    left: 0%; 
    height: 10vh;
    margin: 0px !important;
    background: rgba(0, 0, 0, 0.5);
}
a{
    color: yellowgreen;
}
a:hover{
    color: green;
}
h1, h2, h3, p, ul{
    font-family: 'Play', sans-serif;
}
