.fcontainer{
    background: rgba(0, 0, 0, 0.25);
    border: 3px rgba(255, 0, 0, 0.2) solid;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}
img{
    width: 5vw;
    height: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 0;
    margin-right: 0;
}
img:hover{
    animation: anim1 0.4s forwards;
}
@keyframes anim1 {
    100%{
        transform: scale(1.2, 1.2);
    }
}
h1{
    font-family: 'Play', sans-serif;
    text-decoration: underline;
}