body {
    background-image: url('../Assets/border.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.fcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin-top: 1vmin;
    margin-left: 1vmin;
  }

.anim span {
    display: inline-block;
    animation: flip 1s 1;
    animation-delay: calc(.2s * var(--i))
  }

  .anim2 span {
    display: inline-block;
    opacity: 0;
    animation: appear 0.1s 1 forwards;
    animation-delay: calc(5s + .1s * var(--j))
  }
  .anim3 span{
    display: inline-block;
    opacity: 0;
    animation: appear 0.1s 1 forwards;
    animation-delay: calc(9s + .1s * var(--k));
  }

span{
    white-space: pre;
}

#fuuter{
    margin-top: 10px;
    width: 100vw;
    height: 100px;
    background-color: grey;
    flex-direction: row;
}

.chessboard {
    width: 90vmin;
    height: 90vmin;
    border: 5vmin solid #333;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    text-align: center;
}

#wk:hover{
    height: 110%;
    position: relative;
    left: -15%;
    top: -15%;
}

#wr2:hover{
    height: 110%;
    position: relative;
    left: -15%;
    top: -80%;
}

.black {
    float: left;
    width: 11.25vmin;
    height: 11.25vmin;
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: 11.25vmin;
    height: 11.25vmin;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}
#bq{
    animation: mv1 3.8s ease-in-out 0.2s forwards;
    /*animation: mv3 0.5s ease-in-out 3.2s forwards;*/
}

#wk{
    animation: mv2 0.5s ease-in-out forwards;
    animation-delay: 1.7s;
}
#wr{
    animation: mv3 0.4s ease-in-out forwards;
    animation-delay: 3.8s;
}
#wq{
    position: relative;
    top: -8vmin;
    animation: mv4 4s ease-in-out forwards;
    animation-delay: 5s;
}
#bk{
    position: relative;
    top: -8vmin;
    animation: mv5 1s ease-in-out forwards;
    animation-delay: 6.5s;
}
#wr2{
    position: relative;
    top: -8vmin;
    animation: mv6 0.7s ease-in-out forwards;
    animation-delay: 9s;
}
@keyframes mv1 {
    0%{ 
        transform: translate(0, 0);
      }
    25% {
        transform: translate(0, 11.25vmin);
      }
    85%{
        transform: translate(0, 11.25vmin);
    }
    100%{
        transform: translate(11.25vmin, 22.5vmin);
    }
}
@keyframes mv2{
    from { 
        transform: translateY(0); /* starting position */
      }
      to {
        transform: translateY(-11.25vmin); /* end position */
      }
}
@keyframes mv3{
    100%{
        opacity: 0;
    }
}
@keyframes mv4{
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(78.75vmin, 0);
    }
    98%{
        transform: translate(78.75vmin, 0);
    }
    100%{
        transform: translate(78.75vmin, 0);
        opacity: 0;
    }
}
@keyframes mv5{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(22.5vmin, -11.25vmin);
    }
}
@keyframes mv6{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(78.75vmin, 0);
    }
}
@keyframes appear{
    100%{
        opacity: 1;
    }
}